.dropdown:hover .dropdown-menu{
    display: block;
}

nav div.search{
    flex-grow: 0.5;
}

.dropdown-menu {
    left: -58px !important;
}

.card{
    width: 14rem; 
    border: 0rem !important;
}

.view-all{
    width: 80%;
}

.carousel:hover {
    display: block;
}

.search-icon{
    margin-left: -1px;
}

.image{
    height: 170px;
}